{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
   <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->


                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">id</th>
                          <th scope="col">uid</th>
                          <th scope="col">groupe id</th>
                          <th scope="col">Stealth</th>
                          <th scope="col">Multitread</th>
                          <th scope="col">ip</th>
                          <th scope="col">sym_key</th>
                          <th scope="col">pub_key</th>
                          <th scope="col">status</th>
                          <th scope="col">action</th>

                        </tr>
                      </thead>
                      <tbody>

                      <!-- bouclage -->
                      {% for bot in bots %}
                            <tr>
                              <th scope="row">{{bot.id}}</th>
                              <td>{{bot.uid}}</td>
                              <td>{{bot.group_id}}</td>
                              <td>{{bot.stealth}}</td>
                              <td>{{bot.multi_thread}}</td>
                              <td>{{bot.ip}}</td>
                              <td>{{bot.sym_key}}</td>
                                <td>{{bot.pub_key}}</td>
                                <td>{{bot.status}}</td>
                              <td>
                                  <a type="submit" class="btn btn-primary" title="btn btn-primary" data-toggle="voir">Voir</a>
                                  <a type="button" class="btn btn-outline-danger">supp</a>
                              </td>
                            </tr>
                      {% endfor %}
                        <!-- bouclage -->


                  </tbody>
                </table>





                    <!-- [ breadcrumb ] end -->

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
