{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
   <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <div class="container text-center">
                        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">


                        <div class="card m-2" style="width: 18rem;">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Groupe : ESGI</h5>
                            <p class="card-text">Some quick exad k of the card's content.</p>
                            <a href="#" class="btn btn-primary">voir</a>
                          </div>
                        </div>

                        <div class="card m-2" style="width: 18rem;">
                          <img src="..." class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Groupe : ESGI</h5>
                            <p class="card-text">Some quick exad k of the card's content.</p>
                            <a href="#" class="btn btn-primary">voir</a>
                          </div>
                        </div>


                        </div>
                    </div>


                    <!-- [ breadcrumb ] end -->

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
