{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
   <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <div class="container text-center">
                        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">



                            <form action="/bot/add" method="POST">


                                <div class="input-group mb-3">
                                  <span class="input-group-text" >uid</span>
                                  <input type="text" class="form-control" placeholder="bot_sur_pc_de_Yannis" aria-label="name" aria-describedby="basic-addon1" name="uid">
                                </div>
                                <div class="input-group mb-3">
                                  <span class="input-group-text">group_id</span>
                                  <input type="text" class="form-control" placeholder="109.25.26.22" aria-label="name" aria-describedby="basic-addon1" name="group_id">
                                </div>
                                <div class="input-group mb-3">
                                  <span class="input-group-text">Stealth</span>
                                  <input type="text" class="form-control" placeholder="192.168.1.2" aria-label="name" aria-describedby="basic-addon1" name="stealth">
                                </div>
                                <div class="input-group mb-3">
                                  <span class="input-group-text">multi_thread</span>
                                  <input type="text" class="form-control" placeholder="192.168.1.2" aria-label="name" aria-describedby="basic-addon1" name="multi_thread">
                                </div>
                                <div class="input-group mb-3">
                                  <span class="input-group-text">IP</span>
                                  <input type="text" class="form-control" placeholder="192.168.1.2" aria-label="name" aria-describedby="basic-addon1" name="ip">
                                </div>
                                <div class="input-group mb-3">
                                  <span class="input-group-text">sym_key</span>
                                  <input type="text" class="form-control" placeholder="192.168.1.2" aria-label="name" aria-describedby="basic-addon1" name="sym_key">
                                </div>
                                <div class="input-group mb-3">
                                  <span class="input-group-text">pub_key</span>
                                  <input type="text" class="form-control" placeholder="192.168.1.2" aria-label="name" aria-describedby="basic-addon1" name="pub_key">
                                </div>

                                <button type="submit" class="btn btn-primary">Créer</button>

                            </form>




                        </div>
                    </div>


                    <!-- [ breadcrumb ] end -->

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
